body{
    background-image: url("https://fondosmil.com/fondo/20922.jpg");
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    font-size: 18px;
}
input{
    width: 10%;
    font-size: 18px;
}